<div class="content">
    <form name="contactForm" ng-submit="sendMessage()" novalidate>
        <input type="text" placeholder="name" name="name" ng-model="contact.name" ng-required="true">
        <div ng-show="contactForm.name.$touched && contactForm.name.$invalid">
            <small style="color:red; display:block;text-align:center;">enter a valid name</small>
        </div>
        <!-- <span> $prestine-{{contactForm.name.$pristine}} , $dirty-{{contactForm.name.$dirty}},
            $unntouched-{{contactForm.name.$untouched}}, $touched-{{contactForm.name.$touched}},
            $invalid-{{contactForm.name.$invalid}} , $valid-{{contactForm.name.$valid}} , </span> -->
        <input type="email" placeholder="Email" name="email" ng-model="contact.mail" ng-required="true">
        <div ng-show="contactForm.email.$touched && contactForm.email.$invalid">
            <small style="color:red; display:block;text-align:center;">enter a valid mail</small>
        </div>
        <textarea name="message" id="" placeholder="Your message" ng-model="contact.message"
            ng-required="true"></textarea>
        <input type="submit" value="send" ng-disabled="contactForm.$invalid">
    </form>
    <!-- {{contact}} -->
</div>
